# LP2 CUSTOMER CHURN PROJECT

<B>PROJECT DESCRIPTION<b>
#### Customer Churn is the percentage of customers that stopped using a companys' product or service during a certain time frame.In business, understanding the primary cause of a customer churn can assist businesses to create a retention strategy to reduce customer churn and as such boost revenue.This project seeks to build a powerful machine learning pipeline that will estimate or predict the likelihood of a customer leaving vodafone or not.
In this Project, I will: 

1. classify models and help the client, a telecommunication company, to understand their data.
2. Find the lifetime value of each customer and know what factors affect the rate at which customers stop using their network.
3. Predict if a customer will churn or not.

<b> project Workflow<b>

a. hypothesis

b. research questions

c. import 

d. create variable environment

d. load data

# 1. HYPOTHESIS

<B>NULL HYPOTHESIS:<B>

the number of months the customer has stayed in the company does not affect their churn rate

<B>ALTERNATIVE HYPOTHESIS:<B>

the number of months the customer has stayed in the company  affect their churn rate

# importation

In [1]:
#import 
import numpy as np
import pandas as pd
import pyodbc 
import sqlalchemy 
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stat
from scipy import stats
from dotenv import dotenv_values
import warnings
import os

warnings.filterwarnings('ignore')

<b>load data

In [2]:
# Load environment variables from .env file into a dictionary
environment_variable=dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variable.get('SERVER')
database= environment_variable.get('DATABASE')
username = environment_variable.get('USERNAME')
password = environment_variable.get('PASSWORD')

# a connection for server, database, username and password from the env 
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

# connection to the server
connection=pyodbc.connect(connection_string)

In [3]:
query = "SELECT * FROM LP2_Telco_churn_first_3000"
churn_data = pd.read_sql(query,connection)

In [4]:
churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2209-XADXF,Female,False,False,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,False,Bank transfer (automatic),25.250000,25.250000,False
2996,6620-JDYNW,Female,False,False,False,18,True,True,DSL,True,...,True,False,False,False,Month-to-month,True,Mailed check,60.599998,1156.349976,False
2997,1891-FZYSA,Male,True,True,False,69,True,True,Fiber optic,False,...,False,False,True,False,Month-to-month,True,Electronic check,89.949997,6143.149902,True
2998,4770-UEZOX,Male,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,74.750000,144.800003,False
2999,1A1:U3001038-RQOST,Male,False,True,True,19,True,False,No,None,...,None,None,None,None,Month-to-month,False,Mailed check,20.600000,414.950012,False

In [5]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [6]:
# check total number of the missing values
churn_data.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [7]:
#check the percentage of the missing values
(churn_data.isnull().sum()/(len(churn_data)))*100

customerID           0.000000
gender               0.000000
SeniorCitizen        0.000000
Partner              0.000000
Dependents           0.000000
tenure               0.000000
PhoneService         0.000000
MultipleLines        8.966667
InternetService      0.000000
OnlineSecurity      21.700000
OnlineBackup        21.700000
DeviceProtection    21.700000
TechSupport         21.700000
StreamingTV         21.700000
StreamingMovies     21.700000
Contract             0.000000
PaperlessBilling     0.000000
PaymentMethod        0.000000
MonthlyCharges       0.000000
TotalCharges         0.166667
Churn                0.033333
dtype: float64

In [8]:
churn_data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [9]:
churn_data.describe().T

,count,mean,std,min,25%,50%,75%,max
tenure,3000.0,32.527333,24.637768,0.000000,9.000000,29.000000,56.000000,72.000000
MonthlyCharges,3000.0,65.347400,30.137053,18.400000,35.787499,70.900002,90.262501,118.650002
TotalCharges,2995.0,2301.278315,2274.987884,18.799999,415.250000,1404.650024,3868.725098,8564.750000

In [10]:
churn_data.describe(include ='object').T

                 count unique               top  freq
customerID        3000   3000        7590-VHVEG     1
gender            3000      2              Male  1537
MultipleLines     2731      2             False  1437
InternetService   3000      3       Fiber optic  1343
OnlineSecurity    2349      2             False  1478
OnlineBackup      2349      2             False  1320
DeviceProtection  2349      2             False  1296
TechSupport       2349      2             False  1476
StreamingTV       2349      2             False  1190
StreamingMovies   2349      2              True  1199
Contract          3000      3    Month-to-month  1641
PaymentMethod     3000      4  Electronic check  1004
Churn             2999      2             False  2219

In [11]:
#idenfity categorical and numerical columns
cat_columns = churn_data.select_dtypes(include=['object']).columns
print('catagorical variables:')
print(cat_columns)
#numerical columns
num_columns= churn_data.select_dtypes(include=[np.number]).columns
print('mumerical variables:')
print(num_columns)

catagorical variables:
Index(['customerID', 'gender', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod', 'Churn'],
      dtype='object')
mumerical variables:
Index(['tenure', 'MonthlyCharges', 'TotalCharges'], dtype='object')

-  `missing data`

 ### <b> <i><u> `load telco churn csv file `<b>

In [15]:
#loading the second file of the telco -churn -second file
telco_data2= pd.read_csv('LP2_Telco-churn-second-2000.csv')
telco_data2.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

## <b><u> DATA EXPLORATION <U>

- #### INFO
- #### DUPLICATED
- #### DESCRIBE
- #### NULLVALUES

In [ ]:
##INFO
telco_data2.info()

In [ ]:
##NULL VALUES
telco_data2.isna().sum()

In [19]:
telco_data2.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,2043.0,0.168380,0.374295,0.00,0.000,0.00,0.000,1.00
tenure,2043.0,32.649046,24.376248,0.00,9.000,30.00,55.000,72.00
MonthlyCharges,2043.0,64.712555,29.970010,18.55,35.825,70.25,89.625,118.35

In [21]:
telco_data2.describe(include='object').T

                 count unique               top  freq
customerID        2043   2043        5600-PDUJF     1
gender            2043      2              Male  1022
Partner           2043      2                No  1047
Dependents        2043      2                No  1412
PhoneService      2043      2               Yes  1823
MultipleLines     2043      3                No   987
InternetService   2043      3       Fiber optic   905
OnlineSecurity    2043      3                No  1029
OnlineBackup      2043      3                No   911
DeviceProtection  2043      3                No   923
TechSupport       2043      3                No   996
StreamingTV       2043      3                No   828
StreamingMovies   2043      3                No   831
Contract          2043      3    Month-to-month  1103
PaperlessBilling  2043      2               Yes  1220
PaymentMethod     2043      4  Electronic check   696
TotalCharges      2043   1991              20.2     5
Churn             2043      2                No  1487

In [23]:
telco_data2.duplicated().sum()

0

### <B>HANDLING MISSING VALUES